@model ML.Evento
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cartelera de Eventos</h2>
<br />
<div class="row">
    <div class="col-md-12">
        <h5>Seleccione un evento para adquirir el boleto</h5>
        <hr />
    </div>
</div>

<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <td class="hidden">IdEvento</td>
            <td>Nombre</td>
            <td class="hidden">IdLugar</td>
            <td>Lugar</td>
            <td>Fecha de Evento</td>
            <td>Precio</td>
            <td>Comprar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ML.Evento evento in Model.Eventos)
        {
            <tr>
                <td class="hidden">@evento.IdEvento</td>
                <td>@evento.Nombre</td>
                <td class="hidden">@evento.Lugar.idLugar</td>
                <td>@evento.Lugar.Nombre</td>
                <td>@evento.FechaHora</td>
                <td>@evento.Precio</td>
                <td><a class="btn btn-success glyphicon glyphicon-credit-card" href="@Url.Action("Form", "Venta", new { IdEvento = evento.IdEvento})" @*onclick="return confirm('Estas seguro que deseas eliminar este evento?');"*@></a></td>
            </tr>
        }
    </tbody>
</table>

